@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #3D2412;
  --background: #f6eee3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #f6eee3;
    --background: #3D2412;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Georgia", "KaiTi", "SimSun", serif;
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.button {
  background-color: #3D2412;
  color: #f6eee3;
  &:hover {
    background-color: #f6eee3;
    color: #3D2412;
  }
}

